@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "DMSans-Bold";
  src: url("/fonts/DMSans-Bold.ttf");
  font-weight: bold;
}

body {
  @apply text-green-kelp;
}

h1 {
  @apply text-4xl md:text-5xl;
  font-style: normal;
  font-weight: 700;
}

p {
  line-height: 2rem;
}

.rounded-4xl {
  border-radius: 2rem;
}

.button {
  @apply border-2 px-3 py-2 rounded-4xl;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  transition: background-color 0.3s, border 0.3s;
}

@media screen(lg) {
  .button {
    @apply px-8 py-4;
  }
}

.button--primary {
  @apply bg-lightning-yellow
  border-lightning-yellow
  text-green-kelp;

  &:hover {
    @apply bg-golden-grass border-golden-grass;
  }
}

.button--secondary {
  @apply border-green-kelp;

  &:hover {
    @apply bg-pumice;
  }

  &.is-active {
    @apply bg-green-kelp text-white;
  }
}
